.profile {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  text-align: center;
}

.avatar {
  display: block;
  width: 150px;
  border: solid #dddddd 1px;
  border-radius: 50%;
  margin: 0 auto;
}

.name {
  margin-top: 40px;
  font-size: 25px;
  color: #2a2a2a;
  font-weight: 700;
}

.tag {
  color: #999999;
  font-size: 20px;
}

.location {
  color: #999999;
  font-size: 20px;
}

.stats {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.statsItem {
  flex-basis: calc(100% / 3);
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f3f3f3;
  border-top: solid #d6d6d6 1px;
}

.statsItem:not(:last-child) {
  border-right: solid #d6d6d6 1px;
}

.label {
  display: block;
  color: #999999;
  margin-bottom: 10px;
}

.quantity {
  display: block;
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 700;
}
